.references {
    height: 100svh;
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.references-content {
    height: 70svh;
    gap: 24px;
    max-width: 1440px;
    width: 100%;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 100%;
            color: rgba(61, 207, 182, 1);
        }
}

.references-slider {
    display: flex;
    height: 100%;
    gap: 50px;
}

.ref-card {
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(8, 70, 59, 0.3);
    border: solid 1px rgba(61, 207, 182, 1);
    border-radius: 30px;
    padding: 24px;
        .quote {
            text-align: left;
            white-space: pre-line;
        }
        .author {
            text-align: right;
        }
        p{
            color: rgba(255, 255, 255, 1);
            font-size: 18px;
        }
}