<section id="about-me">
  <div class="content-container">
    <div class="content-left">
      <img
        class="profile-shadow"
        src="../../assets/img/profile-shadow.svg"
        alt=""
      />
      <img
        class="profile-picture"
        src="../../assets/img/profile-picture.jpg"
        [alt]="'ABOUT.ALT.PROFILE' | translate"
      />
    </div>

    <div class="content-right">
      <div class="profile">
        <h2 class="karla">{{ "ABOUT.WHO_AM_I" | translate }}</h2>
        <div class="info-block">
          <h1 class="fira-code">{{ "ABOUT.TITLE" | translate }}</h1>
          <p class="karla">
            {{ "ABOUT.DESCRIPTION" | translate }}
          </p>
          <div class="information">
            <div class="single-info">
              <img
                class="info-icon"
                src="../../assets/img/location.svg"
                [alt]="'ABOUT.ALT.LOCATION' | translate"
              />
              <p>
                {{ "ABOUT.LOCATION_TEXT" | translate }}
              </p>
            </div>
            <div class="single-info">
              <img
                class="info-icon"
                src="../../assets/img/cognition.svg"
                [alt]="'ABOUT.ALT.COGNITION' | translate"
              />
              <p>
                {{ "ABOUT.TOOLS_TEXT" | translate }}
              </p>
            </div>
            <div class="single-info">
              <img
                class="info-icon"
                src="../../assets/img/check.svg"
                [alt]="'ABOUT.ALT.CHECK' | translate"
              />
              <p>
                {{ "ABOUT.CREATIVITY_TEXT" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
