<section id="about-me">
  <div class="content-container">
    <div class="content-left">
      <img class="profile-shadow" src="../../assets/img/profile-shadow.svg" alt="">
      <img
        class="profile-picture" src="../../assets/img/profile-picture.jpg" alt="Picture of the developer"/>
    </div>

    <div class="content-right">
      <div class="profile">
        <h2 class="karla">Wer bin ich?</h2>
        <div class="info-block">
          <h1 class="fira-code">Über mich</h1>
          <p class="karla">
            Hi! Ich bin Sebastian. Ich bin Junior Frontend Entwickler und ein
            absoluter CSS Maniac. Ich liebe es Designs zu verwirklichen und mit
            meinem kreativen Mindset und meinem Auge für Details an der
            Entstehung von Kunstwerken im Netz beteiligt zu sein.
          </p>
          <div class="information">
            <div class="single-info">
              <img
                class="info-icon"
                src="../../assets/img/location.svg"
                alt="location-pin"
              />
              <p>
                Wohnhaft in Alzey, nähe Mainz. Grundsätzlich offen für
                Homeoffice Stellen.
              </p>
            </div>
            <div class="single-info">
              <img
                class="info-icon"
                src="../../assets/img/cognition.svg"
                alt="cognition-icon"
              />
              <p>
                Ich liebe es neue Tools zu entdecken und meine Fähigkeiten mit
                bereits bekannten Tools zu erweitern.
              </p>
            </div>
            <div class="single-info">
              <img
                class="info-icon"
                src="../../assets/img/check.svg"
                alt="check-icon"
              />
              <p>
                Mein Auge für die kleinen Dinge und mein kreativer Kopf helfen
                mir bei der Umsetzung vieler komplexer Designs. Gerne
                brainstorme ich über die beste Lösung. <br />Alleine, gerne aber
                auch im Team.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
