<section class="hero-section">
  <div class="headline-container">
    <h2 class="fira-code">Frontend Entwickler</h2>
    <h1 class="karla">Sebastian Böhme</h1>
  </div>
  <div class="button-container">
    <div class="hero-button">
      <p class="animated-text" data-text="meine Projekte">meine Projekte</p>
    </div>
    <div class="hero-button">
      <p class="animated-text" data-text="Kontaktieren Sie mich">Kontaktieren Sie mich</p>
    </div>
  </div>

  <div class="banner">
    <div class="marquee">
      <div class="marquee__inner" >
        <p class="karla">Frontend Entwickler</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Wohnhaft in Alzey</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Arbeit</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">interessiert an Homeoffice-Stellen</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Frontend Entwickler</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Wohnhaft in Alzey</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Arbeit</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">interessiert an Homeoffice-Stellen</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Frontend Entwickler</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Wohnhaft in Alzey</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Arbeit</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">interessiert an Homeoffice-Stellen</p>
      </div>
    </div>
  </div>
  
<div class="decoration-container">
  <div class="decoration-hero-left">
    <div class="scroll-arrow-container">
      <img class="scroll-down" src="../../assets/img/scroll-down.svg" alt="">
    </div>

    <div class="decoration-line-left"></div>
  </div>

  <div class="decoration-hero-right">


    <a [href]="'mailto:' + email" class="email-link karla">{{ email }}</a>


    <div class="link-icon-containter">

    <a href="https://github.com/SebastianBoehme" target="_blank"><div class="github-icon"></div></a>

    <a href="https://www.linkedin.com/in/sebastian-b%C3%B6hme-b91349302/" target="_blank"><div class="linkedin-icon"></div></a>

  </div>

    <div class="decoration-line-right"></div>
  </div> 

</div>
</section>
