<section class="contact-section">

    <div class="contact-content">

        <div class="contact-description">

            <div class="gretting">
                <h2 class="karla">Kontaktieren Sie mich</h2>
                <h1 class="fira-code">Arbeiten wir zusammen</h1>
            </div>

            <div class="why-contact-me">
                <h2 class="fira-code">Sie haben ein Problem zu lösen?</h2>
                <p class="karla description">Ich suche nach Stellen als Frontend-Entwickler mit starkem Fokus auf UI/UX. <br> Mein Ziel ist es, Benutzeroberflächen und Designs zu gestalten und umzusetzen,<br> die nicht nur gut aussehen, sondern sich auch natürlich und intuitiv anfühlen.</p>
                <div class="need-a-dev">
                    <p class="karla grey">Sie brauchen einen Frontend-Entwickler?</p> <p class="karla green">Let's talk!</p>
                </div>
            </div>
            
        </div>

        <div class="contact-form">

        </div>

    </div>

</section>
