<section id="contact" class="contact-section snap-section">
  <div class="contact-content">
    <div class="contact-description">
      <div class="gretting">
        <h2 class="karla">{{ "CONTACT.GREETING" | translate }}</h2>
        <h1 class="fira-code">{{ "CONTACT.HEADLINE" | translate }}</h1>
      </div>

      <div class="why-contact-me">
        <h2 class="fira-code">{{ "CONTACT.PROBLEM_TITLE" | translate }}</h2>
        <p
          class="karla description"
          [innerHTML]="'CONTACT.DESCRIPTION' | translate"
        ></p>
        <div class="need-a-dev">
          <p class="karla grey">{{ "CONTACT.NEED_DEV" | translate }}</p>
          <p class="karla green">{{ "CONTACT.LET_S_TALK" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="single-form">
          <label class="fira-code" for="name">
            {{ "CONTACT.QUESTION_NAME" | translate }}
          </label>
          <input
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            #name="ngModel"
            required
            class="karla form-input"
            [class.input-invalid]="
              name.invalid && (name.touched || contactForm.submitted)
            "
            [placeholder]="
              name.invalid && (name.touched || contactForm.submitted)
                ? ('CONTACT.ERROR_NAME' | translate)
                : ('CONTACT.PLACEHOLDER_NAME' | translate)
            "
          />
        </div>

        <div class="single-form-mid">
          <label class="fira-code" for="email">
            {{ "CONTACT.QUESTION_EMAIL" | translate }}
          </label>
          <input
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            #email="ngModel"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            class="karla form-input"
            [class.input-invalid]="
              email.invalid && (email.touched || contactForm.submitted)
            "
            [placeholder]="
              email.invalid && (email.touched || contactForm.submitted)
                ? ('CONTACT.ERROR_EMAIL' | translate)
                : ('CONTACT.PLACEHOLDER_EMAIL' | translate)
            "
          />
        </div>

        <div class="single-form">
          <label class="fira-code" for="message">
            {{ "CONTACT.QUESTION_MESSAGE" | translate }}
          </label>
          <textarea
            [(ngModel)]="contactData.message"
            id="message"
            name="message"
            #message="ngModel"
            required
            class="karla form-input auto-grow"
            [class.input-invalid]="
              message.invalid && (message.touched || contactForm.submitted)
            "
            [placeholder]="
              message.invalid && (message.touched || contactForm.submitted)
                ? ('CONTACT.ERROR_MESSAGE' | translate)
                : ('CONTACT.PLACEHOLDER_MESSAGE' | translate)
            "
          ></textarea>
        </div>

        <div class="privacy-container">
          <div class="checkbox-wrapper">
            <input
              [(ngModel)]="privacyData.privacyAccepted"
              type="checkbox"
              name="privacy"
              #privacy="ngModel"
              required
              class="privacy-checkbox"
            />
            <label class="karla privacy-text">
              Ich habe die
              <a routerLink="/imprint" class="fira-code"
                >Datenschutzerklärung</a
              >
              gelesen und bin mit der Verarbeitung meiner Daten einverstanden.
            </label>
          </div>

          <div class="error-spacer">
            @if (privacy.invalid && contactForm.dirty) {
              <p class="error-msg karla">
                Bitte akzeptiere die Datenschutzerklärung.
              </p>
            }
          </div>
        </div>

        <div class="submit-area">
          <button
            type="submit"
            class="contact-btn karla"
            [disabled]="privacy.invalid"
          >
            <span
              class="animated-text"
              [attr.data-text]="'CONTACT.SAY_HELLO' | translate"
            >
              {{ "CONTACT.SAY_HELLO" | translate }}
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
