<section class="contact-section">
  <div class="contact-content">
    <div class="contact-description">
      <div class="gretting">
        <h2 class="karla">{{ "CONTACT.GREETING" | translate }}</h2>
        <h1 class="fira-code">{{ "CONTACT.HEADLINE" | translate }}</h1>
      </div>

      <div class="why-contact-me">
        <h2 class="fira-code">{{ "CONTACT.PROBLEM_TITLE" | translate }}</h2>
        <p
          class="karla description"
          [innerHTML]="'CONTACT.DESCRIPTION' | translate"
        ></p>
        <div class="need-a-dev">
          <p class="karla grey">{{ "CONTACT.NEED_DEV" | translate }}</p>
          <p class="karla green">{{ "CONTACT.LET_S_TALK" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <form (ngSubmit)="onSubmit()">
        <div class="single-form">
          <label class="fira-code" for="name">{{
            "CONTACT.QUESTION_NAME" | translate
          }}</label>
          <input
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            [placeholder]="'CONTACT.PLACEHOLDER_NAME' | translate"
            class="karla form-input"
          />
        </div>

        <div class="single-form-mid">
          <label class="fira-code" for="email">{{
            "CONTACT.QUESTION_EMAIL" | translate
          }}</label>
          <input
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            [placeholder]="'CONTACT.PLACEHOLDER_EMAIL' | translate"
            class="karla form-input"
          />
        </div>

        <div class="single-form">
          <label class="fira-code" for="message">{{
            "CONTACT.QUESTION_MESSAGE" | translate
          }}</label>
          <textarea
            [(ngModel)]="contactData.message"
            id="message"
            name="message"
            [placeholder]="'CONTACT.PLACEHOLDER_MESSAGE' | translate"
            class="karla email-input auto-grow"
          ></textarea>
        </div>

        <div class="submit-area">
          <button type="submit" class="contact-btn karla">
            <span
              class="animated-text"
              [attr.data-text]="'CONTACT.SAY_HELLO' | translate"
              >{{ "CONTACT.SAY_HELLO" | translate }}</span
            >
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
