<div class="imprint-wrapper">
  <section class="legal-notice">
    <div class="legal-notice-content">
      <h1 class="fira-code">{{ "IMPRINT.TITLE" | translate }}</h1>
      <div class="imprint-content">
        <div class="imprint">
          <h2 class="karla">{{ "IMPRINT.SUBTITLE" | translate }}</h2>
          <ul>
            <li class="karla">Sebastian Böhme</li>
            <li class="karla">Flonheimer Straße 2</li>
            <li class="karla">55232 Alzey</li>
          </ul>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">{{ "IMPRINT.BOARD_EXPLORATION" | translate }}</h2>
          <p class="karla" [innerHTML]="'IMPRINT.BOARD_TEXT' | translate"></p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">{{ "IMPRINT.TERMS_TITLE" | translate }}</h2>
          <p class="karla" [innerHTML]="'IMPRINT.TERMS_TEXT' | translate"></p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">{{ "IMPRINT.SCOPE_TITLE" | translate }}</h2>
          <p class="karla" [innerHTML]="'IMPRINT.SCOPE_TEXT' | translate"></p>
          <br />
          <p class="karla" [innerHTML]="'IMPRINT.DESIGN_TEXT' | translate"></p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">{{ "IMPRINT.PROPERTY_TITLE" | translate }}</h2>
          <p
            class="karla"
            [innerHTML]="'IMPRINT.PROPERTY_TEXT' | translate"
          ></p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">{{ "IMPRINT.USAGE_TITLE" | translate }}</h2>
          <p class="karla" [innerHTML]="'IMPRINT.USAGE_TEXT' | translate"></p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">{{ "IMPRINT.LIABILITY_TITLE" | translate }}</h2>
          <p
            class="karla"
            [innerHTML]="'IMPRINT.LIABILITY_TEXT' | translate"
          ></p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Schadensersatz</h2>
          <p
            class="karla"
            [innerHTML]="'IMPRINT.INDEMNITY_TEXT' | translate"
          ></p>
          <br />

          <p
            class="karla"
            [innerHTML]="'IMPRINT.CONTACT_FINAL' | translate"
          ></p>
          <br />

          <p class="karla">{{ "IMPRINT.DATE" | translate }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
