<div class="imprint-wrapper">
  <section class="legal-notice">
    <div class="legal-notice-content">
      <h1 class="fira-code">Rechtliche Hinweise</h1>
      <div class="imprint-content">
        <div class="imprint">
          <h2 class="karla">Impressum</h2>
          <ul>
            <li class="karla">Sebastian Böhme</li>
            <li class="karla">Flonheimer Straße 2</li>
            <li class="karla">55232 Alzey</li>
          </ul>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Erkundung des Boards</h2>
          <p class="karla">Email: sebastianboehme.dev&#64;gmail.com</p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Annahme der Bedingungen</h2>
          <p class="karla">
            Durch den Zugriff auf und die Nutzung von
            <span [style.color]="highlightColor">Portfolio</span>
            (Produkt) erkennen Sie an und stimmen zu, die Geschäftsbedingungen
            und alle Richtlinien, Leitlinien oder deren Änderungen einzuhalten,
            die Ihnen von Zeit zu Zeit präsentiert werden. Wir, die aufgeführten
            Studenten, können die Geschäftsbedingungen von Zeit zu Zeit ohne
            vorherige Ankündigung aktualisieren oder ändern.
          </p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Umfang und Eigentum des Produkts</h2>
          <p class="karla">
            <span [style.color]="highlightColor">Portfolio</span> wurde im
            Rahmen eines studentischen Gruppenprojekts in einem
            Web-Development-Bootcamp an der
            <span [style.color]="highlightColor">Developer Akademie GmbH</span>
            entwickelt. Es dient einem Bildungszweck und ist nicht für eine
            umfangreiche private und geschäftliche Nutzung bestimmt. Als solches
            können wir keine ständige Verfügbarkeit, Zuverlässigkeit,
            Genauigkeit oder sonstige Qualitätsaspekte dieses Produkts
            garantieren.<br />
            <br />
          </p>

          <p class="karla">
            Das Design von
            <span [style.color]="highlightColor">Portfolio</span> gehört der
            <span [style.color]="highlightColor">Developer Akademie GmbH</span>.
            Die unbefugte Nutzung, Reproduktion, Modifikation, Verbreitung oder
            Vervielfältigung des Designs ist strengstens untersagt.
          </p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Eigentumsrechte</h2>
          <p class="karla">
            Abgesehen vom Design, das der
            <span [style.color]="highlightColor">Developer Akademie GmbH</span>
            gehört, behalten wir, die aufgeführten Studenten, alle
            Eigentumsrechte an
            <span [style.color]="highlightColor">Portfolio</span>,
            einschließlich aller zugehörigen urheberrechtlich geschützten
            Materialien, Marken und sonstigen geschützten Informationen.
          </p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Nutzung des Produkts</h2>
          <p class="karla">
            <span [style.color]="highlightColor">Portfolio</span> ist
            ausschließlich für rechtmäßige Zwecke und in Übereinstimmung mit
            allen geltenden Gesetzen und Vorschriften zu verwenden. Jede Nutzung
            von <span [style.color]="highlightColor">Portfolio</span> für
            illegale Aktivitäten oder zur Belästigung, Schädigung, Bedrohung
            oder Einschüchterung einer anderen Person ist strengstens untersagt.
            Sie sind allein verantwortlich für Ihre Interaktionen mit anderen
            Nutzern von <span [style.color]="highlightColor">Portfolio</span>.
          </p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Haftungsausschluss und Haftungsbeschränkung</h2>
          <p class="karla">
            <span [style.color]="highlightColor">Portfolio</span> wird "wie
            besehen" und ohne jegliche Gewährleistung, weder ausdrücklich noch
            stillschweigend, bereitgestellt, einschließlich, aber nicht
            beschränkt auf die stillschweigenden Gewährleistungen der
            Marktgängigkeit, der Eignung für einen bestimmten Zweck und der
            Nichtverletzung von Rechten Dritter. In keinem Fall haften wir, die
            aufgeführten Studenten oder die
            <span [style.color]="highlightColor">Developer Akademie</span>, für
            direkte, indirekte, zufällige, besondere, Folge- oder beispielhafte
            Schäden, einschließlich, aber nicht beschränkt auf Schäden aus
            entgangenem Gewinn, Geschäftswert, Nutzung, Daten oder anderen
            immateriellen Verlusten, selbst wenn wir auf die Möglichkeit solcher
            Schäden hingewiesen wurden, die sich aus oder im Zusammenhang mit
            der Nutzung oder der Leistung von
            <span [style.color]="highlightColor">Portfolio</span> ergeben.
          </p>
        </div>
        <div class="imprint-no-gap">
          <h2 class="karla">Schadensersatz</h2>
          <p class="karla">
            Sie erklären sich damit einverstanden, uns, die aufgeführten
            Studenten, die
            <span [style.color]="highlightColor">Developer Akademie</span> und
            unsere verbundenen Unternehmen, Partner, leitenden Angestellten,
            Direktoren, Agenten und Mitarbeiter von jeglichen Ansprüchen,
            Forderungen, Verlusten, Schäden, Kosten oder Haftungen
            (einschließlich angemessener Anwaltskosten) freizustellen, zu
            verteidigen und schadlos zu halten, die sich aus oder im
            Zusammenhang mit Ihrer Nutzung von
            <span [style.color]="highlightColor">Portfolio</span> und/oder Ihrem
            Verstoß gegen diesen Rechtlichen Hinweis ergeben.
          </p> <br>

          <p class="karla">
            Für alle Fragen oder Mitteilungen kontaktieren Sie uns bitte unter
            Email: sebastianboehme.dev&#64;gmail.com.
          </p> <br>

          <p class="karla">Datum: 26. Juli 2025</p>
        </div>
      </div>
    </div>
  </section>
</div>
