<section class="navigation-section">
  <div class="nav-container">
    <div
      class="language-switch"
      (click)="switchLanguage()"
      role="button"
      tabindex="0"
    >
      <div
        class="toggle-pill"
        [class.is-en]="(translate.getCurrentLang() || 'de') === 'en'"
      ></div>

      <div class="language-de">
        <span
          class="fira-code"
          [class.active]="(translate.getCurrentLang() || 'de') === 'de'"
        >
          DE
        </span>
      </div>

      <div class="language-en">
        <span
          class="fira-code"
          [class.active]="(translate.getCurrentLang() || 'de') === 'en'"
        >
          EN
        </span>
      </div>
    </div>

    <a class="fira-code" href="#about-me">{{ "NAV.ABOUT" | translate }}</a>
    <a class="fira-code" href="#skills">{{ "NAV.SKILLS" | translate }}</a>
    <a class="fira-code" href="#projects">{{ "NAV.PROJECTS" | translate }}</a>
  </div>

  <a href="#">
    <img class="logo" src="assets/img/logo.png" alt="logo" />
  </a>
</section>
