section {
  height: 244px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 64px;
  padding-bottom: 64px;
  z-index: 1;
}

.footer-content-wrapper {
  width: 100%;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.information {
  align-self: stretch;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      line-height: 120%;
    }
  }
}

.copyright {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: rgba(61, 207, 182, 1);
    font-size: 18px;
    line-height: 120%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;

    &:hover {
      color: rgba(61, 207, 182, 1); // Hover auf dem Link selbst
    }
  }
}
