<section class="footer">
  <div class="footer-content-wrapper">
    <div class="footer-content">
      <div class="information">
        <a href="#"
          ><img class="logo" src="../../assets/img/logo.png" alt="logo"
        /></a>
        <div class="info">
          <p class="karla">{{ "FOOTER.ROLE" | translate }}</p>
          <p class="karla">{{ "FOOTER.LOCATION" | translate }}</p>
        </div>
      </div>

      <div class="copyright">
        <p class="fira-code">&copy; Sebastian Böhme {{ currentYear }}</p>
      </div>

      <div class="links">
        <a
          href="https://github.com/SebastianBoehme"
          target="_blank"
          class="karla"
          >Github</a
        >
        <a
          href="https://www.linkedin.com/in/sebastian-b%C3%B6hme-b91349302/"
          target="_blank"
          class="karla"
          >LinkedIn</a
        >
        <a [href]="'mailto:' + email" class="email-link karla">Email</a>
        <a routerLink="/imprint" class="karla">{{
          "FOOTER.IMPRINT" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
